# Dependency directories
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db 